{{! BEGIN-SNIPPET components-custom-prompt-header.hbs }}
<PaperToolbar>
  <PaperToolbarTools>
    <h2 class="md-title">
      <PaperIcon @icon={{"warning"}}/> Custom Prompt Title Component
    </h2>
    <span class="flex"></span>
    <PaperButton
      @iconButton={{true}}
      @onClick={{action decline}}>
      <PaperIcon @icon={{"close"}}/>
    </PaperButton>
  </PaperToolbarTools>
</PaperToolbar>
{{! END-SNIPPET }}