{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    <h2 class="md-title">{{paper-icon icon="warning"}} Custom Prompt Confirm Title Component</h2>
    <span class="flex"></span>
    {{#paper-button iconButton=true onClick=(action decline)}}{{paper-icon "close"}}{{/paper-button}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}