{{! BEGIN-SNIPPET components-custom-check-confirm-body.hbs }}
<p>Custom Check Confirm Body Component</p>
<PaperForm>
  <PaperCheckbox
    @value={{this.promptValue}}
    @onChange={{this.updatePromptValue}}/>
</PaperForm>
{{! END-SNIPPET }}