{{! BEGIN-SNIPPET components-custom-prompt-body.hbs }}
<p>Custom Prompt Body Component</p>
<PaperForm as |form|>
  <form.input
    @value={{promptValue}}
    @onChange={{updatePromptValue}}/>
</PaperForm>
{{! END-SNIPPET }}