<p>Custom Process Body Component</p>
<p>{{options.body}}</p>
<div class="layout-row layout-align-center">
  {{paper-progress-circular
    class=options.circularClass
    accent=options.circularAccent
    warn=options.circularWarn
    diameter=options.circularDiameter
    strokeRatio=options.circularStrokeRatio
  }}
</div>