{{! BEGIN-SNIPPET components-custom-check-confirm-header.hbs }}
<PaperToolbar>
  <PaperToolbarTools>
    <h2 class="md-title">
      {{paper-icon icon="warning"}} Custom Check Confirm Title Component
    </h2>
    <span class="flex"></span>
    <PaperButton
      @iconButton={{true}}
      @onClick={{action decline}}>
      {{paper-icon icon="close"}}
    </PaperButton>
  </PaperToolbarTools>
</PaperToolbar>
{{! END-SNIPPET }}