{{! BEGIN-SNIPPET components-custom-alert-header.hbs }}
<PaperToolbar>
  <PaperToolbarTools>
    <h2 class="md-title">
      <PaperIcon @icon="warning"/> Custom Alert Title Component
    </h2>
    <span class="flex"></span>
    <PaperButton
      @iconButton={{true}}
      @onClick={{this.decline}}>
      <PaperIcon @icon="close"/>
    </PaperButton>
  </PaperToolbarTools>
</PaperToolbar>
{{! END-SNIPPET }}