{{! BEGIN-SNIPPET components-custom-process-header.hbs }}
<PaperToolbar>
  <PaperToolbarTools>
    <h2 class="md-title">
      {{paper-icon icon="warning"}} Custom Process Title Component
    </h2>
  </PaperToolbarTools>
</PaperToolbar>
{{! END-SNIPPET }}