{{! BEGIN-SNIPPET components-custom-check-confirm-body.hbs }}
<p>Custom Check Confirm Body Component</p>
<PaperForm>
  {{paper-checkbox
    value=promptValue
    onChange=updatePromptValue}}
</PaperForm>
{{! END-SNIPPET }}