{{! BEGIN-SNIPPET components-custom-prompt-confirm-body.hbs }}
<p>Custom Prompt Confirm Body Component</p>
<p>Please enter a "{{options.promptValue}}" without quotes</p>
{{#paper-form as |form|}}
  {{form.input value=promptValue onChange=updatePromptValue}}
{{/paper-form}}
{{! END-SNIPPET }}