{{! BEGIN-SNIPPET components-custom-process-header.hbs }}
{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    <h2 class="md-title">
      {{paper-icon icon="warning"}} Custom Process Title Component
    </h2>
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}
{{! END-SNIPPET }}