  <div id="main" class="flex layout-column" tabindex="-1" role="main">
    {{#paper-content scroll-y=true class="layout-padding flex"}}
      <h1>{{paper-icon "input"}} Ember Paper Modals Manager</h1>
      <h3>Install</h3>
      <pre>ember i ember-paper-modals-manager</pre>
      <h3>Check <a
        href="https://onechiporenko.github.io/ember-paper-modals-manager/docs/modules/EmberPaperModalsManager.html">API
        docs</a>.</h3>
      {{outlet}}
    {{/paper-content}}
  </div>
{{modals-container}}